body{
    font-family: sans-serif;
    margin: 0;
}

section{
    height: 100vh;
    background-color: #7b1fa2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-btn{
    width: 50px;
    height: 50px;
    display: block;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
}

span, 
span::before, 
span::after{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #222;
}

span::before, 
span::after{
    content: '';
    display: block;
    transition: .3s;
}

span::before{
    transform: translateY(-5px);
}

span::after{
    transform: translateY(5px);
}

.menu-btn--active span:before{
   transform: rotate(45deg); 
}

.menu-btn--active span:after{
    transform: rotate(-45deg); 
 }

 .menu-btn--active span{
     height: 0;
 }